@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #000;
    position: relative;
    background-image: url('/imagens/pexels-alvaro-arano-12791096.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

/*
SCROLLBAR

body::-webkit-scrollbar{
    background-color: #024e43;
}

body::-webkit-scrollbar-thumb{
    background-color: #00ffd9;
}
*/

#principal{
    margin-bottom: 9rem 0rem;
    
    .box-signin{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 10%);
        width: 400px;
        height: 550px;
        border-radius: 1em;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.3px);
        -webkit-backdrop-filter: blur(2.3px);
        border: 1px solid rgba(255, 255, 255, 0.23);

        /*Estilos checkbox-termos
        .div-checkbox-termos input{
            border: none;
            background-color: #008F7A;
        }*/
    }

    .form-flex{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    
    form{
        margin: 4rem 0;
    }

    h1{
        padding: 1rem 0;
        transform: translateY(-2rem);
    }

    h1::before{
        content: '|';
        color: #008F7A;
    }

    .div-nome, .div-sobrenome, .div-senha, .div-email, .div-telefone{
        padding: 1rem 0;
        display: block;
    }

/*Efeito label-float (Inicio)*/
.label-float{
    position: relative;
    padding-top: 13px;
}

.label-float input{
    outline: 0;
    background: none;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    width: 15rem;
    padding: .4rem 0;
    border: 0;
    border-bottom: 2px solid rgba(105, 105, 105, 0.534);
    outline: none;
    min-width: 180px;
    font-size: 1rem;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance: none;
    border-radius: 0;
}

.label-float input:focus{
    border-bottom: 2px solid;
}

.label-float input::placeholder{
    color: transparent;
}

.label-float label{
    color: #808080c0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
}
/*
.label-float input:required:invalid + label{
    color: red;
}*/

.label-float input:focus:required:invalid{
    border-bottom: 2px solid #024e43;
}
/*
.label-float input:required:invalid + label::before{
    content: '*';
}*/

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    margin-top: 0;
    color: #008F7A;
}

/*Efeito label-float (Fim)*/

}

.div-submit-btn{
    text-align: center;
    margin: 2rem 0;

    .btn-submit{
        padding: .8em 7.5em;
        border: none;
        background-color: #008F7A;
        color: #fff;
        border-radius: .5em;
        font-weight: bold;
        cursor: pointer;

        &:hover{
            background-color: #024e43;
        }
    }
}